{% extends "layout.html" %}

{% block content %}


    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <h1>Welcome to {{ app.config.parameter('console.server_name')|upper }}</h1>
    </div>

    <div class="alert alert-info">
        <div align="center">
            <small>

                <strong>{{ uname }}</strong><br/>
                <strong>{{ _server.SERVER_SOFTWARE }}</strong>
                server with address <strong>{{ _server.SERVER_ADDR }}:{{ _server.SERVER_PORT }}</strong> and host
                <strong>{{ _server.HTTP_HOST }}</strong>

                with server API: <strong>{{ sapi_name }}</strong>

            </small>
        </div>
    </div>

    <ul>
        <li><a href="{{ path('php_phpinfo') }}">phpinfo</a></li>
    </ul>

{% endblock %}
